<script setup>
import {useRoute, useRouter} from "vue-router";
import { useFilerReport } from 'src/FilerReport'
import { formatDate } from 'src/utils'

const route = useRoute()
const router = useRouter()
const committee_id = route.params.committee_id

const { getCommitteeHistory } = await useFilerReport()

const committee_history = await getCommitteeHistory(committee_id)

const columns = [
  {name: 'id', label: 'Profile #', field: 'registration_id', align: 'left', sortable: true},
  {name: 'name', label: 'Name', field: 'name', align: 'left', sortable: true},
  {name: 'start_year', label: 'Start year', field: 'start_year', align: 'left', sortable: true},
  {name: 'submitted_at', label: 'Submitted date', field: 'submitted_at', align: 'left', sortable: true, format: formatDate},
]

</script>

<template>
  <div name="history">
    <div class="row, text-h2 q-mb-md">
      Committee history
    </div>
    <q-table
      :grid="$q.screen.lt.sm"
      :rows="committee_history"
      :columns="columns"
      flat
      bordered
    >
      <template v-slot:body-cell-id="props">
        <q-td :props="props">
          <router-link :to="{name: 'filer-committee-overview', params: {committee_id: props.row.committee_id, registration_id: props.row.registration_id}}">
            {{ props.row.registration_id }}
          </router-link>
        </q-td>
      </template>
    </q-table>
  </div>
</template>
