<script setup>
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import { useC5Registration } from 'src/C5Registration'
import CommitteeView from 'components/CommitteeView.vue'

const route = useRoute()
const committee_id = route.params.committee_id
const registration_id = route.params.registration_id

const props = defineProps({
  request_id: {type: String}
})

const dataLoaded = ref(false)
const local_committee = ref({})

const { getCommitteeInfo, getHistoricalCommitteeInfo } = await useC5Registration()

// created
await initPage()

async function initPage() {
  if (registration_id) {
    const { committee } = await getHistoricalCommitteeInfo(committee_id, registration_id)
    let payload = committee[0]
    if (payload.source === 'ORCA') {
      local_committee.value = payload
    }
    else {
      local_committee.value = formatCommittee(payload.user_data)
    }
    dataLoaded.value = true
  }
  else {
    const { committee } = await getCommitteeInfo(committee_id)
    local_committee.value = {...committee.user_data}
    dataLoaded.value = true
  }
}

function formatCommittee(payload) {
  try {
    const p_committee = JSON.parse(payload)
    if (p_committee.committee.committee_type === 'CO') {
      return {
        committee: {
          name: p_committee.committee.name
        },
        officers: [...p_committee.committee.officers]
      }
    }
  }
  catch (error) {
    return {}
  }
  return JSON.parse(payload)
}

</script>

<template>
  <div>
    <div class="row q-mb-md">
      <q-btn
        class="q-mr-md"
        v-if="dataLoaded && !registration_id"
        icon="edit"
        color="primary"
        :to="{name: 'edit-committee-registration', params: {committee_id: route.params.committee_id, section: null, report_id: null}}"
      >
        Amend
      </q-btn>
      <q-btn
        v-if="dataLoaded && !registration_id"
        icon="history"
        color="primary"
        :to="{name: 'filer-committee-history', params: {committee_id: route.params.committee_id}}"
      >
        History
      </q-btn>
    </div>
    <committee-view :has_loaded="dataLoaded" :committee="local_committee" />
  </div>
</template>
