<script setup>
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useFilerReport } from 'src/FilerReport'
import { getMonthYearLabel, dateStringToDateDate } from '/src/utils'

const { createDraftReport, getCommitteeReports, clearFilerReport } = await useFilerReport()

const route = useRoute()
const router = useRouter()
const committee_id = route.params.committee_id
const create_dialog_is_open = ref(false)

const reports = ref(await getReports())

const month_year = ref('')
const month_year_ref = ref(null)
const current_view = ref('Years')
const date_hidden = ref(false)

const report_dates = new Set(
  reports.value.map(
    report => (report.period_month.getMonth() + 1).toLocaleString('en-US', {
      minimumIntegerDigits: 2,
      useGrouping: false
    }) + '-' + report.period_month.getFullYear()
  )
)

const columns = ref(
  [
    { name: 'period_month', label: 'Reporting period', field: row => row.period_month, align: 'left', sortable: true, sort: (a, b) => a < b },
    { name: 'status', label: 'Status', field: row => row.status, align: 'left', sortable: true },
    { name: 'actions', label: 'Actions', align: 'left' },
  ]
)

const min_month_year = `${Math.max(new Date().getFullYear()-6, 2023)}/01`

const max_month_year = `${(new Date().getFullYear()).toString()}/${(new Date().getMonth()) + 1}`

const rules = ref({
  validMonth: value => {
    return (parseInt(value.split('-')[0]) > 0 && parseInt(value.split('-')[0]) < 13) || 'Invalid month'
  },
  validYear: value => {
    return parseInt(value.split('-')[1]) > (new Date().getFullYear() - 20) || 'Invalid year'
  },
  // min_month_year is a string in the format YYYY/MM
  // javascript date validation to ensure date is not prior to January 1, 2023 and is not earlier than min_month_year
  validDate: value => {
    const selectedDate = new Date(value.split('-')[1], value.split('-')[0] - 1, 1);
    const minDate = new Date(min_month_year.split('/')[0], min_month_year.split('/')[1] - 1, 1);
    const maxDate = new Date(max_month_year.split('/')[0], max_month_year.split('/')[1] - 1, 1);
    return selectedDate >= minDate && selectedDate <= maxDate || `Date must be between ${min_month_year} and ${max_month_year}`;
  },
  uniqueMonthYear: value => {
    return ! report_dates.has(value) || `A report already exists for this reporting period. Amend or edit it to continue.`
  }
})

async function getReports() {
  const unmapped_reports = await getCommitteeReports(committee_id)
  const date_reports = unmapped_reports.map(report => ({ ...report, period_month: dateStringToDateDate(report.period_month) }))
  const grouped_reports = Object.groupBy(date_reports, ({ period_month }) => period_month)
  const folded_reports = Object.values(grouped_reports).map((grouped_report) => {
    if (grouped_report.length === 2) {
      const draft_report = grouped_report.find(report => report.type === 'draft')
      const submitted_report = grouped_report.find(report => report.type === 'submitted')
      return {
        report_id: submitted_report.id,
        draft_id: draft_report.id,
        period_month: draft_report.period_month,
        status: 'Amending',
        type: 'amending'
      }
    }
    return grouped_report[0]
  })
  return folded_reports.toSorted((a, b) => b.period_month - a.period_month)
}

function onUpdateMonthYear() {
  if (current_view.value === 'Years') {
    current_view.value = 'Months'
  }
  else if (current_view.value === 'Months') {
    current_view.value = null
  }

  month_year_ref.value.setView(current_view.value)

  if (current_view.value === null) {
    date_hidden.value = true
  }
}

function openCreateDialog() {
  create_dialog_is_open.value = true
  month_year.value = ''
}

async function onSubmit() {
  clearFilerReport()
  const period_month = month_year.value.split('-')[0] + '-01-' + month_year.value.split('-')[1]
  const report_id = await createDraftReport(committee_id, period_month)
  if (typeof report_id === 'number') {
    await router.push({ name: 'edit-report', params: { committee_id, report_id }, query: { section: 'overview', report_id } })
  }
}

function onFocus() {
  current_view.value = 'Years'
  date_hidden.value = false
  month_year_ref.value.setView(current_view.value)
}

function getStatusIcon(row) {
  if (row.type === 'draft') {
    return 'edit'
  }
  else if (row.type === 'submitted') {
    return 'verified_user'
  }
  else if (row.type === 'amending') {
    return 'verified_user'
  }
}

function getIconColor(row) {
  if (row.type === 'submitted') {
    return 'primary'
  }
  return 'secondary'
}

</script>
<template>
  <div>
    <div class="row">
      <h2>Committee reports</h2>
    </div>
    <q-table
      flat
      bordered
      :rows="reports"
      :columns="columns"
      :grid="$q.screen.lt.sm"
    >
      <template v-slot:body-cell-period_month="props">
        <q-td :props="props">
          <router-link
            v-if="props.row.type === 'draft' "
            :to="{ name: 'edit-report', params: { committee_id, report_id: props.row.id }, query: { section: 'overview', report_id: props.row.id } }"
          >
            {{ getMonthYearLabel(props.row.period_month) }}
          </router-link>
          <router-link
            v-else-if="props.row.type === 'submitted' && props.row.how_filed === 'e' "
            :to="{ name: 'view-report', params: { committee_id, report_id: props.row.id }, query: { report_type: props.row.type } }"
          >
            {{ getMonthYearLabel(props.row.period_month) }}
          </router-link>
          <router-link
            v-else-if="props.row.type === 'amending' "
            :to="{ name: 'view-report', params: { committee_id, report_id: props.row.report_id }, query: { report_type: props.row.type } }"
          >
            {{ getMonthYearLabel(props.row.period_month) }}
          </router-link>
          <div v-else>
            {{ getMonthYearLabel(props.row.period_month) }}
          </div>
        </q-td>
      </template>
      <template v-slot:body-cell-status="props">
        <q-td :props="props">
          <q-icon
            size="sm"
            :name="getStatusIcon(props.row)"
            :color="getIconColor(props.row)"
          /> {{ props.row.status }}
        </q-td>
      </template>
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <q-btn
            v-if="props.row.type === 'draft' "
            label="Finish"
            class="q-mr-sm"
            color="primary"
            :to="{ name: 'edit-report', params: { committee_id, report_id: props.row.id }, query: { section: 'overview', report_id: props.row.id } }"
          />
          <q-btn
            v-if="props.row.type === 'amending' "
            label="Finish"
            class="q-mr-sm"
            color="primary"
            :to="{ name: 'edit-report', params: { committee_id, report_id: props.row.draft_id }, query: { section: 'overview', report_id: props.row.draft_id } }"
          />
        </q-td>
      </template>
      <template v-slot:item="props">
        <q-card flat bordered class="q-mb-sm full-width">
          <q-card-section>
            <router-link
              v-if="props.row.type === 'draft' "
              :to="{ name: 'edit-report', params: { committee_id, report_id: props.row.id }, query: { section: 'overview', report_id: props.row.id } }"
            >
              {{ getMonthYearLabel(props.row.period_month) }}
            </router-link>
            <router-link
              v-if="props.row.type === 'submitted' "
              :to="{ name: 'view-report', params: { committee_id, report_id: props.row.id }}"
            >
              {{ getMonthYearLabel(props.row.period_month) }}
            </router-link>
            <router-link
              v-if="props.row.type === 'amending' "
              :to="{ name: 'view-report', params: { committee_id, report_id: props.row.report_id }}"
            >
              {{ getMonthYearLabel(props.row.period_month) }}
            </router-link>
            <div class="q-my-md" />
            <q-icon
              size="sm"
              name="edit"
              color="secondary"
            /> {{ props.row.status }}
          </q-card-section>
          <q-card-section>
            <q-btn
              v-if="props.row.type === 'draft' "
              label="Finish"
              class="q-mr-sm"
              color="primary"
              :to="{ name: 'edit-report', params: { committee_id, report_id: props.row.id }, query: { section: 'overview', report_id: props.row.id } }"
            />
            <q-btn
              v-if="props.row.type === 'amending' "
              label="Finish"
              class="q-mr-sm"
              color="primary"
              :to="{ name: 'edit-report', params: { committee_id, report_id: props.row.draft_id }, query: { section: 'overview', report_id: props.row.draft_id } }"
            />
          </q-card-section>
        </q-card>
      </template>
    </q-table>
    <q-btn class="q-mt-md" icon="add" color="primary" @click="openCreateDialog">
      Report
    </q-btn>
    <q-dialog v-model="create_dialog_is_open">
      <q-card>
        <q-card-section>
          <h6 class="q-mt-none">Reporting month and year</h6>
          <q-form greedy @submit="onSubmit">
            <q-input
              autofocus
              mask="##-####"
              label="MM-YYYY"
              class="q-mb-lg"
              v-model="month_year"
              @focus="onFocus"
              :rules="[rules.validMonth, rules.validYear, rules.uniqueMonthYear, rules.validDate]"
            />
            <q-date
              :class="date_hidden && 'hidden' "
              minimal
              emit-immediately
              default-view="Years"
              mask="MM-YYYY"
              ref="month_year_ref"
              :navigation-min-year-month="min_month_year"
              :navigation-max-year-month="max_month_year"
              v-model="month_year"
              @update:model-value="onUpdateMonthYear"
            />
            <div class="q-my-lg" />
            <q-btn class="q-mt-md" color="primary" type="submit" label="Submit" />
            <q-btn class="q-ml-sm q-mt-md" color="secondary" label="Cancel" v-close-popup />
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
