<script setup>
import {ref, reactive, provide, watch} from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useFilerReport } from 'src/FilerReport'
import FilerOverview from './wizard/FilerOverview.vue'
import FilerReview from './wizard/FilerReview.vue'
import EditExpenditure from './wizard/EditExpenditure.vue'
import EditCandidateExpenditure from './wizard/EditCandidateExpenditure.vue'
import EditCommitteeExpenditure from './wizard/EditCommitteeExpenditure.vue'
import EditContribution from './wizard/EditContribution.vue'
import EditResidentContribution from './wizard/EditResidentContribution.vue'
import EditNonResidentContribution from './wizard/EditNonResidentContribution.vue'
import EditProfile from "./wizard/EditProfile.vue";
import { getMonthYearLabel } from 'src/utils'

const { saveDraftReport, filerReport, loadReport, getParties, getOffices, deleteReport } = await useFilerReport()

const route = useRoute()
const router = useRouter()
const committee_id = route.params.committee_id
const report_id = route.params.report_id
const delete_dialog_is_open = ref(false)

await getOffices()
await getParties()
await loadReport(committee_id, report_id)

const navigation = reactive( {currentSection: {
  section: route.query.section || null,
  item: route.query.item || null
}})
provide('navigation', navigation)

watch(() => navigation.currentSection, () => {
  updateUrl(navigation.currentSection.section, navigation.currentSection.item)
})

function updateUrl(section, item) {
  const newQuery = { ...route.query, section }
  if (item) {
    newQuery.item = item
  } else {
    delete newQuery.item
  }
  router.replace({ query: newQuery })
}

const sections = ref([
  { name: 'overview', title: 'Overview', component: () => FilerOverview },
  { name: 'edit-registration', title: 'Review profile', component: () => EditProfile },
  {
    name: 'expenditures', title: 'Expenditures', component: () => EditExpenditure, sum: true, items: [
      { name: 'candidate_expenditure', title: 'Candidate', component: () => EditCandidateExpenditure, data: 'candidate_expenses', sum: 'amount' },
      { name: 'committee_expenditure', title: 'Committee', component: () => EditCommitteeExpenditure, data: 'committee_expenses', sum: 'amount' },
    ]
  },
  {
    name: 'contributions', title: 'Contributions', component: () => EditContribution, sum: true, items: [
      { name: 'resident_contribution', title: 'Resident', component: () => EditResidentContribution, data: 'resident_contributions', sum: 'amount' },
      { name: 'non_resident_contribution', title: 'Non-resident', component: () => EditNonResidentContribution, data: 'non_resident_contributions', sum: 'amount' },
    ]
  },
  { name: 'review', title: 'Review', component: () => FilerReview }
])
provide('c5-wizard', sections)

async function onFinishLater() {
  const save_count = await saveDraftReport(committee_id, report_id)
  if (typeof save_count === 'number') {
    filerReport.save_count = save_count
    await router.push({ name: 'committee-reports', params: { committee_id } })
  }
}

async function onNavigate(e) {
  updateUrl(e.section, e.item, report_id)
  // Autosave draft report
  await saveDraftReport(committee_id, report_id)
}

async function onDelete() {
  const success = await deleteReport(committee_id, report_id)
  if (success) {
    await router.push({ name: 'committee-reports', params: { committee_id } })
  }
}
</script>
<template>
  <div>
    <div class="row">
      <h2>{{ getMonthYearLabel(filerReport.period_month) }}</h2>
    </div>
    <p-wizard
      title="C5 report"
      :sections="sections"
      :data="filerReport"
      :selected="navigation.currentSection"
      @navigate="onNavigate"
      @finish-later="onFinishLater"
    >
      <template v-slot:actions>
        <q-btn rounded style="text-decoration: underline" no-caps flat label="Delete & start over" @click="delete_dialog_is_open = true" ripple/>
      </template>
    </p-wizard>
    <q-dialog v-model="delete_dialog_is_open" persistent>
      <q-card>
        <q-card-section>
          <h6 class="q-mt-none">Delete report draft</h6>
          <p>You are about to delete this report draft. This cannot be undone.</p>
          <p>Are you sure you want to continue?</p>
        </q-card-section>
        <q-card-section>
          <q-btn color="negative" label="Delete" @click="onDelete"/>
          <q-btn class="q-ml-sm" color="secondary" label="Cancel" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
