<script setup>
  import { onMounted, ref } from 'vue'
  import { useRoute, useRouter } from 'vue-router'
  import { scroll } from 'quasar'
  import { useC5Registration } from 'src/C5Registration'
  import rules from "@wapdc/pdc-ui/rules"

  const router = useRouter()
  const route = useRoute()

  const {
    c5Registration,
    createRegistration,
    amendCommittee,
    clearRegistration,
    loadCommittee,
  } = await useC5Registration()


  const cancel_dialog_is_open = ref(false)
  const delete_dialog_is_open = ref(false)
  const has_mounted = ref(false)

  const federal_with_states = ['FEDERAL', ...rules.states].filter(state => state !== 'WA')
  const options = ref(federal_with_states)


  const report_id = route.params.report_id ? route.params.report_id : null
  const { getScrollTarget, setVerticalScrollPosition } = scroll

  let committee_id = null
  let local_committee_id = null
  const section = route.params.section ? route.params.section : null

  if (route.params.committee_id) {
    committee_id = route.params.committee_id
    local_committee_id = committee_id
  }

  // created
  clearRegistration()
  if (local_committee_id) {
    await loadCommittee(local_committee_id)
  }

  onMounted(() => {
    has_mounted.value = true
  })


  async function submit(section) {
    if (local_committee_id) {
      const response = await amendCommittee(local_committee_id)
      if (response.success) {
        clearRegistration()
        if(section === null) {
          await router.replace({name: 'my-committees', params: {}})
        } else {
          if (report_id !== null) {
            await router.replace({
              name: 'edit-report',
              params: {committee_id: committee_id, report_id: report_id, section: section}
            })
          }
        }
      }
    }
    else {
      const response = await createRegistration()
      if (response.success) {
        clearRegistration()
        await router.replace({name: 'my-committees', params: {}})
      }
    }
  }

  function cancelDelete() {
    delete_dialog_is_open.value = false
  }

  function confirmDelete() {
    delete_dialog_is_open.value = true
  }

  function cancel() {
    clearRegistration()
    router.back()
  }
</script>
<template>
  <div style="max-width: 1024px">
    <h2 v-if="local_committee_id">Out-of-state committee (C5) amendment</h2>
    <h2 v-else>Out-of-state committee (C5) sign up</h2>
    <q-form
      greedy
      @submit="submit(section)"
      @validation-error="(ref) => setVerticalScrollPosition(getScrollTarget(ref.$el), ref.$el.offsetTop, 100)"
    >
      <!-- Committee information -->
      <h5 class="inline-block">Committee information</h5>
      <q-card class="q-pl-sm">
        <div class='row q-col-gutter-md'>
          <div class="col-12 col-sm-11">
            <q-input v-model="c5Registration.committee.name" autofocus :rules="[rules.requireString]" label="Committee name" />
          </div>
        </div>
        <div class='row q-col-gutter-md'>
          <div class="col-12 col-sm-5">
            <q-input v-model="c5Registration.committee.address" :rules="[rules.requireString]" label="Address" />
          </div>
          <div class="col-12 col-sm-2">
            <q-input v-model="c5Registration.committee.city" :rules="[rules.requireString]" label="City" />
          </div>
          <div class="col-12 col-sm-2">
            <q-select
              label="State"
              v-model="c5Registration.committee.state"
              :options="rules.states"
              :rules="[rules.requireString, rules.validState]"
            />
          </div>
          <div class="col-12 col-sm-2">
            <q-input v-model="c5Registration.committee.postcode" :rules="[rules.requireString]" label="Postcode" />
          </div>
        </div>
        <div class='row q-col-gutter-md'>
          <div class="col-12 col-sm-11">
            <q-input v-model="c5Registration.committee.email" :rules="[rules.requireString]" label="Contact email" />
          </div>
        </div>
      </q-card>

      <!-- Committee purpose -->
      <h5 class="inline-block q-mb-none">Purpose</h5>
      <p class='q-mb-none'>
        Example: a State Committee of the Oregon Republican Party, Idaho
        committee of United Workers Union, or federal PAC of XYZ Trade Assn.
      </p>
      <div class='row q-col-gutter-md'>
        <div class="col-12 col-sm-11">
          <q-input v-model="c5Registration.committee_purpose" :rules="[rules.requireString]" label="Purpose" />
        </div>
      </div>

      <!-- Committee officers -->
      <h5 class="inline-block q-mb-sm">Officers or responsible leaders</h5>
      <p-edit-rows add_label="Officer" :rows="c5Registration.officers"
                 :row_default="{title: null, name: null, address: null, city: null, state: null, postcode: null, role: 'officer', committee_id: null}"
                 :required_at_least_one_row="true"
      >
        <template v-slot="{ row }">
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.name" :rules="[rules.requireString]" :autofocus="has_mounted" label="Name" />
            </div>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.title" :rules="[rules.requireString]" label="Title" />
            </div>
          </div>
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.address" :rules="[rules.requireString]" label="Address" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.city" :rules="[rules.requireString]" label="City" />
            </div>
            <div class="col-12 col-sm-2">
              <q-select
                label="State"
                v-model="row.state"
                :options="rules.states"
                :rules="[rules.requireString, rules.validState]"
              />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.postcode" :rules="[rules.requireString]" label="Postcode" />
            </div>
          </div>
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.email" :rules="[rules.requireString]" label="Email" type="email" />
            </div>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.phone" :rules="[rules.requireString]" label="Phone" type="tel" />
            </div>
          </div>
        </template>
      </p-edit-rows>

      <!-- Committee states registered -->
      <h5 class="inline-block q-mb-none">Out-of-state committee registrations</h5>
      <p>
        In which states has this political committee been registered and actively reporting for the past two years?
      </p>
      <p-edit-rows
        add_label="Registration"
        :rows="c5Registration.reporting_states"
        :row_default="{state: null, agency: null, web_url: null}"
        :required_at_least_one_row="true"
      >
        <template v-slot="{ row }">
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-2">
              <q-select
                label="State or &quot;Federal&quot;"
                v-model="row.state"
                :options="options"
                :autofocus="has_mounted"
                :rules="[rules.requireString]"
              />
            </div>
            <div class="col-12 col-sm-4">
              <q-input v-model="row.agency" :rules="[rules.requireString]" label="Agency" />
            </div>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.web_url" :rules="[rules.requireString]" label="Web address" />
            </div>
          </div>
        </template>
      </p-edit-rows>
      <q-btn
        v-if="section === null"
        label="Submit"
        icon="check"
        type="submit"
        color="primary"
        class="q-mt-lg q-mr-sm"
      />
      <q-btn v-if="local_committee_id && section !== null" label="Save changes" icon="check" @click="submit(section)" color="primary" class="q-mt-lg q-mr-sm"/>

      <q-btn label="Cancel" color="secondary" class="q-mt-lg" @click="() => cancel_dialog_is_open = true"/>
    </q-form>
    <q-dialog v-model="cancel_dialog_is_open">
      <q-card>
        <q-card-section>
          <div class="text-h6">Are you sure you want to cancel and discard changes?</div>
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Yes" color="secondary" @click="cancel" v-close-popup />
          <q-btn label="No" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="delete_dialog_is_open" persistent>
      <q-card style="width: 700px; max-width: 95vw">
        <q-card-section>
          <h6 class="q-mt-none">Delete committee draft</h6>
          <p>You are about to delete this committee draft. This cannot be undone.</p>
          <p>Are you sure you want to continue?</p>
        </q-card-section>
        <q-card-section>
          <q-btn color="secondary" label="yes" @click="onDelete"/>
          <q-btn class="q-ml-sm" color="primary" label="No" @click="cancelDelete"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
