<script setup>
  import { ref } from 'vue'
  import { useFilerReport } from 'src/FilerReport'
  import { useRoute, useRouter } from 'vue-router'
  import { formatDate } from '@wapdc/pdc-ui/util'

  const { getReportHistory } = await useFilerReport()

  const route = useRoute()
  const router = useRouter()

  const committee_id = route.params.committee_id
  const report_id = route.params.report_id
  const period_month = route.params.period_month

  // created
  const reports = ref(await getReportHistory(committee_id, report_id, period_month))

  const columns = ref([
    {name: 'report_id', label: 'Report', field: 'report_id', align: 'left', sortable: true},
    {name: 'superseded_id', label: 'Amends', field: 'superseded_id', align: 'left', sortable: true},
    {name: 'submitted_at', label: 'Submitted', field: 'submitted_at', align: 'left', sortable: true, format: formatDate},
  ])

  function handleBack() {
    router.push({name: 'view-report', params: {committee_id, report_id}})
  }
</script>
<template>
  <div>
    <div class="row">
      <h2>Report history</h2>
    </div>
    <q-table
      :grid="$q.screen.lt.sm"
      :rows="reports"
      :columns="columns"
      flat
      bordered
    >
      <template v-slot:body-cell-report_id="props">
        <q-td :props="props">
          <router-link :to="{ name: 'view-report', params: { committee_id, report_id: props.row.report_id }}">
            {{ props.row.report_id }}
          </router-link>
        </q-td>
      </template>
      <template v-slot:body-cell-superseded_id="props">
        <q-td :props="props">
          <router-link :to="{ name: 'view-report', params: { committee_id, report_id: props.row.superseded_id }}">
            {{ props.row.superseded_id }}
          </router-link>
        </q-td>
      </template>
      <template v-slot:item="{row}">
        <q-card class="q-mb-sm full-width">
          <q-card-section>
            <div>
              <div class="q-mb-sm">
                Report #
                <router-link :to="{ name: 'view-report', params: { committee_id, report_id: row.report_id }}">
                  {{ row.report_id }}
                </router-link>
              </div>
              <div v-if="row?.superseded_id" class="q-mb-sm">
                Amends: #
                <router-link :to="{ name: 'view-report', params: { committee_id, report_id: row.superseded_id }}">
                  {{ row.superseded_id }}
                </router-link>
              </div>
              <div>Submitted: {{ formatDate(row.submitted_at) }}</div>
            </div>
          </q-card-section>
        </q-card>
      </template>
    </q-table>
  </div>
</template>
