<script setup>
import { ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import { useFilerReport } from 'src/FilerReport'
import { formatDate, formatMoney } from 'src/utils'
import rules from '@wapdc/pdc-ui/rules'
import CImport from '../../../components/CImport.vue'

const edit_table_ref = ref(null)
const first_input = ref(null)
const aggregate_ref = ref(null)
const import_dialog_is_open = ref(null)
const fake_rows = ref([{ fake: 'row' }])

defineExpose({validate: async () => (edit_table_ref.value) ? await edit_table_ref.value?.validate() : []})

const { saveDraftReport, filerReport } = await useFilerReport()

// have import work with have-any
watch(
  () => fake_rows.value.length,
  (new_length, old_length) => {
    if (new_length === 0) {
      clearImport()
    }
  }
)
watch(
  () => Object.keys(filerReport.resident_contribution_import).length,
  (new_length, old_length) => {
    if (new_length > 0) {
      fake_rows.value = [{ fake: 'row' }]
    }
  }
)

const route = useRoute()
const committee_id = route.params.committee_id
const report_id = route.params.report_id

const local_rules = ref({
  validAmount: value => {
    // determine the maximum possible number for a numeric(16,2)
    const maxNumber = 99999999999999.99;

    // when v is not a valid decimal number
    if (isNaN(value)) return 'Invalid number'

    // convert the number to a float
    const floatNum = parseFloat(value)

    if (floatNum > maxNumber) return 'Invalid amount'
    if (floatNum.toString().split(".")[1]?.length > 2) return 'Dollar amounts cannot contain fractional cents'
    return true;
  },
  amountLTAgg: value => {
    const aggregate_value = parseFloat(aggregate_ref.value.getNativeElement().value)
    return parseFloat(value) <= aggregate_value || 'Amount must be less than or equal to the aggregate total'
  },
  date: {type: 'date', maxDate: filerReport.period_end, required: true},
  rowAmountLTAgg: {
    type: 'row_based',
    amountLTAgg: row => {
      return parseFloat(row.amount) <= parseFloat(row.aggregate_total) || 'Amount must be less than or equal to the aggregate total'
    }
  },
})

function focusFirst() {
  if (first_input.value) {
    first_input.value?.focus()
  }
}

async function save() {
  await saveDraftReport(committee_id, report_id)
}

function clearImport() {
  filerReport.resident_contribution_import = {}
  filerReport.has_resident_contribution_import = false
  filerReport.resident_contributions = []
}

function importFinished() {
  filerReport.has_resident_contribution_import = true
  filerReport.resident_contributions = [{amount: filerReport.resident_contribution_import.total_amount}]
}
</script>
<template>
  <p>List all contributions of more than $100 in the aggregate to this out-of-state committee during the current calendar year from Washington residents or corporations with their headquarters or a primary place of business in Washington.</p>
  <p-edit-table
    ref="edit_table_ref"
    prompt="Do you have any resident contributions?"
    v-if="! filerReport.has_resident_contribution_import"
    v-model="filerReport.has_resident_contributions"
    @row-selected="focusFirst"
    @rows-changed="save"
    :rows="filerReport.resident_contributions"
    :row-default="{ resident: true, name: null, address: null, city: null, state: 'WA', postcode: null, contribution_date: null, amount: null, aggregate_total: null }"
    :columns="[
      { name: 'name', label: 'Name', field: 'name', align: 'left' },
      { name: 'contribution_date', label: 'Date', field: 'contribution_date', align: 'left', format: formatDate },
      { name: 'amount', label: 'Amount', field: 'amount', format: (v) => formatMoney(v) },
    ]"
  >
    <template v-slot:actions>
      <q-btn
        class="q-mt-md"
        icon="upload"
        label="Import"
        @click="import_dialog_is_open = true"
      />
    </template>
    <template v-slot="{ row }">
      <q-input autofocus ref="first_input" label="Name" v-model="row.name" :rules="[rules.requireString]" />
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-6">
          <p-date-picker
            required
            label="Date"
            :maxDate="`${filerReport.period_end}`"
            :defaultYearMonth="filerReport.period_start.slice(0,7)"
            v-model="row.contribution_date"
          />
        </div>
        <div class="col-12 col-sm-6">
          <q-input
            ref="aggregate_ref"
            type="number"
            label="Aggregate total"
            v-model="row.aggregate_total"
            :rules="[rules.requireString, local_rules.validAmount]"
          />
        </div>
      </div>
      <q-input
        type="number"
        label="Amount"
        v-model="row.amount"
        :rules="[rules.requireString, local_rules.validAmount, local_rules.amountLTAgg]"
      />
      <q-input v-model="row.address" label="Address" :rules="[rules.requireString]" />
      <q-input v-model="row.city" label="City" :rules="[rules.requireString]" />
      <q-input v-model="row.postcode" label="Postcode" :rules="[rules.requireString]" />
    </template>
  </p-edit-table>
  <div v-if="filerReport.has_resident_contribution_import">
    <p-have-any
      required
      ref="inner_have_any_ref"
      prompt="Do you have any resident contributions?"
      v-model="filerReport.has_resident_contributions"
      :rows="fake_rows"
      :no-gap="true"
      :row-default="{}"
    />
    <div class="q-mb-md">
      A CSV file has been imported with
      {{ filerReport.resident_contribution_import.number_of_rows }} rows for a total amount of
      {{ formatMoney(filerReport.resident_contribution_import.total_amount) }}
    </div>
    <q-btn
      icon="upload"
      label="Import"
      @click="import_dialog_is_open = true"
    />
  </div>
  <c-import
    v-model="import_dialog_is_open"
    :sample-row="{ name: 'Joe', address: '1234 street', city: 'Olympia', postcode: '98051', contribution_date: '02/05/2024', amount: '200.00', aggregate_total: '200.00' }"
    :row-default="{ resident: true, name: null, address: null, city: null, state: 'WA', postcode: null, contribution_date: null, amount: null, aggregate_total: null }"
    :rows="filerReport.resident_contributions"
    v-model:import-row="filerReport.resident_contribution_import"
    @update:import-row="importFinished"
    :validation="{
      name: [rules.requireString],
      address: [rules.requireString],
      city: [rules.requireString],
      postcode: [rules.requireString],
      contribution_date: [local_rules.date],
      amount: [rules.requireString, local_rules.validAmount, local_rules.rowAmountLTAgg],
      aggregate_total: [rules.requireString, local_rules.validAmount],
    }"
  />
</template>
