<script setup>
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import { useFilerReport } from 'src/FilerReport'
import { formatDate, formatMoney } from 'src/utils'
import rules from '@wapdc/pdc-ui/rules'

const edit_table_ref = ref(null)
const first_input = ref(null)

defineExpose({validate: async () => {
  return await edit_table_ref.value.validate()
}})

const { candidates, getPeriodCandidates, saveDraftReport, filerReport } = await useFilerReport()

const route = useRoute()
const committee_id = route.params.committee_id
const report_id = route.params.report_id

// created
await getPeriodCandidates(committee_id, filerReport.period_start)

const local_rules = ref({
  validAmount: value => {
    // determine the maximum possible number for a numeric(16,2)
    const maxNumber = 99999999999999.99;

    // when v is not a valid decimal number
    if (isNaN(value)) return 'Invalid number'

    // convert the number to a float
    const floatNum = parseFloat(value)

    if (floatNum > maxNumber) return 'Invalid amount'
    if (floatNum.toString().split(".")[1]?.length > 2) return 'Dollar amounts cannot contain fractional cents'
  },
})

function focusFirst() {
  if (first_input.value) {
    first_input.value?.focus()
  }
}

function onChangeIsInKind(row) {
  row.description = null
  row.vendor_name = null
  row.vendor_address = null
  row.vendor_city = null
  row.vendor_state = null
  row.vendor_postcode = null
}

async function save() {
  await saveDraftReport(committee_id, report_id)
}
</script>
<template>
  <p>List each Washington candidate for state, local or judicial office to whom you have made a contribution of more than $50.</p>
  <p-edit-table
    ref="edit_table_ref"
    prompt="Do you have any candidate expenditures?"
    v-model="filerReport.has_candidate_expenses"
    @row-selected="focusFirst"
    @rows-changed="save"
    :rows="filerReport.candidate_expenses"
    :row-default="{ type: 'CA', target_type: 'candidate', target_id: null, name: null, office: null, party: null, expense_date: null, amount: null, description: null, vendor_name: null, vendor_address: null, vendor_city: null, vendor_state: null, vendor_postcode: null, inkind: false }"
    :columns="[
      { name: 'name', label: 'Name', field: 'name', align: 'left' },
      { name: 'expense_date', label: 'Date', field: 'expense_date', align: 'left', format: formatDate },
      { name: 'amount', label: 'Amount', field: 'amount', format: (v) => formatMoney(v) },
    ]"
  >
    <template v-slot="{ row }">
      <p-select-search
        autofocus
        ref="first_input"
        label="Name"
        label-property="name"
        value-property="candidacy_id"
        v-model.number="row.target_id"
        v-model:name="row.name"
        :options="candidates"
        :rules="[rules.required]"
      />
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-6">
          <p-date-picker
            required
            label="Date"
            :minDate="`${filerReport.period_start}`"
            :maxDate="`${filerReport.period_end}`"
            :defaultYearMonth="filerReport.period_start.slice(0,7)"
            v-model="row.expense_date"
          />
        </div>
        <div class="col-12 col-sm-6 q-mb-md">
          <q-input
            v-model="row.amount"
            label="Amount"
            type="number"
            :rules="[rules.requireString, local_rules.validAmount]"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6 q-pt-sm">In-kind</div>
        <q-option-group
          inline
          type="radio"
          class="col-6"
          @update:model-value="onChangeIsInKind(row)"
          :options="[{ label: 'Yes', value: true }, { label: 'No', value: false }]"
          v-model="row.inkind"
        />
      </div>
      <div v-if="row.inkind">
        <q-input v-model="row.description" autofocus label="Description" :rules="[rules.requireString]" />
        <q-input v-model="row.vendor_name" label="Vendor name" :rules="[rules.requireString]" />
        <q-input v-model="row.vendor_address" label="Vendor address" :rules="[rules.requireString]" />
        <q-input v-model="row.vendor_city" label="Vendor city" :rules="[rules.requireString]" />
        <div class='row q-col-gutter-md'>
          <div class="col-12 col-sm-6">
            <q-input v-model="row.vendor_state" label="Vendor state / province" :rules="[rules.requireString]" />
          </div>
          <div class="col-12 col-sm-6">
            <q-input v-model="row.vendor_postcode" label="Vendor postcode" :rules="[rules.requireString]" />
          </div>
        </div>
      </div>
    </template>
  </p-edit-table>
</template>
