<script setup>
import { useRoute, useRouter } from 'vue-router'
import { useFilerReport } from "src/FilerReport";

const router = useRouter()
const route = useRoute()


const { filerReport } = await useFilerReport()
const committee_id = route.params.committee_id
const report_id = route.params.report_id

const tableProperties = {
  columns: [
    {name: 'type', label: 'Type', field: row => row.state, align: 'left', sortable: true},
    {name: 'agency', label: 'Agency', field: row => row.agency, align: 'left', sortable: true},
    {name: 'website', label: 'Website', field: row => row.web_url, align: 'left', sortable: true, format: validHttpUrl },
  ]
}

function validHttpUrl(string) {
  return (/\b(http|https)/.test(string)) ? string : "https://" + string
}

let officers = filerReport.registration.officers
let reporting_states = filerReport.registration.reporting_states
let committee = filerReport.registration.committee
let purpose = filerReport.registration.committee.committee_purpose
officers = officers.filter(x => x.role === "officer")
</script>

<template>
  <div>
    <p>If the information below is not correct then <span style="color: red; font-weight: bold">STOP</span> and go no further until you
      <router-link :to="{ name: 'edit-committee-registration', params: { committee_id: committee_id, section: 'edit-registration', report_id: report_id } }">update your profile information</router-link>.
      If all is correct, choose 'Next' at the bottom of this page.</p>

    <q-card flat><q-card-section>
        <h5 class="q-mt-md q-mb-none"  v-if="committee.name">{{committee.name}}</h5>
        <div v-if="purpose"><i>{{purpose}}</i></div>

      <div class="q-mt-md" v-if="committee.address">{{ committee.address }}</div>
      <span v-if="committee.city">{{ committee.city }}</span>
      <span v-if="committee.state">, {{ committee.state }} </span>
      <span v-if="committee.postcode" class="q-pl-xs"> {{ committee.postcode }}</span>

      <div v-if="officers.length > 0">
        <h5 class="q-mb-none">Officers </h5>
        <div class="row q-col-gutter-sm q-my-sm">
          <div class="col-xs-12 col-sm-3 col-md-3" v-for="(officer, index) in officers" :key="index">
            <q-card class="q-mb-lg">
              <q-card-section>
                <div class="row justify-between full-height">
                  <div v-if="officer">
                    {{ officer.name }} <br/>
                    <span v-if="officer.title"><i>{{ officer.title }}</i></span><br/>
                    <span v-if="officer.address">{{ officer.address }}</span><br/>
                    <div>
                      <span v-if="officer.city">{{ officer.city }}</span>
                      <span v-if="officer.state">, {{ officer.state }}</span>
                      <span v-if="officer.postcode" class="q-pl-xs"> {{ officer.postcode }}</span>
                    </div>
                    <span v-if="officer.email">{{ officer.email }}</span><br/>
                    <span v-if="officer.phone">{{ officer.phone }}</span><br/>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>

    <div v-if="reporting_states.length > 0">
      <h5 class="q-mb-none">Out-of-state committee registrations </h5>
      <div class="row q-col-gutter-sm q-my-sm">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <q-table
            flat
            :rows="reporting_states"
            :columns="tableProperties.columns"
          >
          </q-table>
        </div>
      </div>
    </div>
    </q-card-section></q-card>
  </div>
</template>
