<script setup>
  import { ref } from 'vue'
  import { useFilerReport } from 'src/FilerReport'
  import { formatMoney } from 'src/utils'
  import rules from '@wapdc/pdc-ui/rules'

  const form_ref = ref(null)

  // Exposing a validate method will cause the wizard to ensure that the form gets validated before going onto another step.
  defineExpose({validate: async () => {
    return await form_ref.value.validate()
  }})

  const { filerReport } = await useFilerReport()

  function validAmount(value) {
    // determine the maximum possible number for a numeric(16,2)
    const maxNumber = 99999999999999.99;

    // when v is not a valid decimal number
    if (isNaN(value)) return 'Invalid number'

    // convert the number to a float
    const floatNum = parseFloat(value)

    if (floatNum > maxNumber) return 'Invalid amount'
    if (floatNum.toString().split(".")[1]?.length > 2) return 'Dollar amounts cannot contain fractional cents'

    return true
  }

  function gteExpenditureTotal(value) {
    const candidate_sum = filerReport.candidate_expenses.reduce((acc, candidate_expense) => acc + parseFloat(candidate_expense.amount), 0.0)
    const committee_sum = filerReport.committee_expenses.reduce((acc, committee_expense) => acc + parseFloat(committee_expense.amount), 0.0)
    const sum = candidate_sum + committee_sum
    return (value < sum) ? `Amount must be greater than or equal to ${formatMoney(sum)}` : true
  }

</script>
<template>
  <p>Report expenditures exceeding $50 made by an out-of-state committee to influence Washington State elections.</p>
  <q-card flat>
    <q-card-section  class="q-ma-lg">
  <p class="text-weight-bold q-mb-sm">Aggregate contributions and expenditures made during this calendar year in Washington State.</p>
  <p>Include amounts shown on this report and C5 reports previously submitted this calendar year</p>
  <q-form ref="form_ref" greedy>
    <div class="row">
      <q-input
        autofocus
        class="q-mb-lg col-3"
        label="Aggregate amount"
        v-model="filerReport.previous_amount"
        :rules="[rules.requireString, validAmount, gteExpenditureTotal]"
      />
    </div>
    <p>Does this aggregate total represent 20% or more of the committee’s nationwide campaign activity to date for this calendar year?</p>
    <q-field hide-bottom-space borderless class="row" v-model="filerReport.previous_gt_twenty_percent" :rules="[rules.requireString]">
      <q-option-group
        inline
        type="radio"
        :options="[{ label: 'Yes', value: 'Y' }, { label: 'No', value: 'N' }]"
        v-model="filerReport.previous_gt_twenty_percent"
      />
    </q-field>
  </q-form>
    </q-card-section>
  </q-card>
</template>
