<script setup>
import { watch, ref, inject } from 'vue'
import { useRoute } from 'vue-router'
import { useFilerReport } from 'src/FilerReport'
import { formatMoney } from 'src/utils'

const { saveDraftReport, filerReport } = await useFilerReport()

const route = useRoute()

const committee_id = route.params.committee_id
const report_id = route.params.report_id

const navigation = inject('navigation')

const warnings = ref([...getWarnings()])

watch(() => filerReport.validations, (new_validations, old_validations) => {
  if (new_validations.length !== old_validations) {
    warnings.value = getWarnings()
  }
})

function getWarnings() {
  const areas = [
    {section: 'edit-registration', item: null, label: 'Period month', message: 'Missing or incomplete', search: 'filer_report.period_month'},
    {section: 'expenditures', item: null, label: 'Aggregate amount', message: 'Missing or incomplete', search: 'filer_report.previous_amount'},
    {section: 'expenditures', item: null, label: 'Greater than 20%', message: 'Missing or incomplete', search: 'filer_report.previous_gt_twenty_percent'},

    {section: 'expenditures', item: 'candidate_expenditure', label: "Candidate expenditure", message: 'Missing or incomplete', search:'filer_report.has_candidate_expenses'},
    {section: 'expenditures', item: 'committee_expenditure', label: "Committee expenditure", message: 'Missing or incomplete', search:'filer_report.has_committee_expenses'},
    {section: 'contributions', item: 'resident_contribution', label: "Resident contribution", message: 'Missing or incomplete', search:'filer_report.has_resident_contributions'},
    {section: 'contributions', item: 'non_resident_contribution', label: "Non-resident contribution", message: 'Missing or incomplete', search:'filer_report.has_non_resident_contributions'},

    {section: 'expenditures', item: 'candidate_expenditure', label: "Candidate expenditure", message: 'Missing or incomplete', search:'filer_report.candidate_expenses'},
    {section: 'expenditures', item: 'committee_expenditure', label: "Committee expenditure", message: 'Missing or incomplete', search:'filer_report.committee_expenses'},
    {section: 'contributions', item: 'resident_contribution', label: "Resident contribution", message: 'Missing or incomplete', search:'filer_report.resident_contributions'},
    {section: 'contributions', item: 'non_resident_contribution', label: "Non-resident contribution", message: 'Missing or incomplete', search: 'filer_report.non_resident_contributions'}
  ]

  filerReport.validations.forEach((v) => {
    const a = areas.find(a => v.includes(a.search))
    if (a) {
      a.show = true;
    }
  })
  return areas.filter(w => !!w.show)
}

function selectSection(area) {
  navigation.currentSection = {section: area.section, item: area.item, validate: true}
}
</script>

<template>
  <div v-if="filerReport.validations.length > 0" class="q-mb-md">
    <p>The following areas of your report still need work:</p>
    <div v-for="warning in warnings" :key="`${warning.section}-${warning.item}`">
      <q-item clickable v-ripple @click="selectSection(warning)">
        <q-item-section><q-item-label>{{warning.label}} - {{warning.message}}</q-item-label></q-item-section>
        <span class="text-caption q-ml-lg" style="cursor: pointer;">
          <q-btn color="primary" rounded>Fix it</q-btn>
        </span>
      </q-item>
    </div>
  </div>
  <q-btn v-if="filerReport.validations.length === 0" color="primary" :to="{ name: 'preview-report', params: { committee_id, report_id } }">
    Preview and submit
  </q-btn>
</template>
