<script setup>

</script>


<template>
  <p>A committee registered in another state or with the FEC must report contributions or expenditures to Washington state candidates or political committees. Review <a href="https://apps.leg.wa.gov/rcw/default.aspx?cite=42.17A.250" target="_blank">RCW 42.17A.250</a> for the criteria to determine eligibility to file the out-of-state political committee report (C5).</p>
  <p>These reports are due no later than the 10th day of the month following any month in which a contribution or other expenditure of more than $50 is made to or on behalf of a Washington state candidate or political committee.</p>
</template>
