<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useC5Registration } from 'src/C5Registration'
import rules from '@wapdc/pdc-ui/rules'

const router = useRouter()
const { awsGateway } = await useC5Registration()

const new_agreement_dialog = ref(false)
const committee_name = ref(null)
const committees = ref([])

const tableProperties = {
  pagination: {
    rowsPerPage: 25,
    sortBy: 'granted_date',
    descending: false
  },
  columns: [
    {name: 'name', label: 'Name', field: row => row.name, align: 'left', sortable: true},
    {name: 'status', label: 'Status', field: row => row.status, align: 'left', sortable: true},
    {name: 'actions', label: 'Actions', align: 'left'}
  ]
}

// created
initPage()

async function initPage() {
  committees.value = await awsGateway.get('/committees')
}

function addNewCommittee() {
  new_agreement_dialog.value = true
}

function getLink(row) {
if (row.type === 'verified_committee') {
    return { name: 'filer-committee-overview', params: { committee_id: row.id, registration_id: null} }
  }
}

function getReportsLink(row) {
  return { name: 'committee-reports', params: { committee_id: row.id } }
}

function getActionLabel(row) {
  return 'View'
}

function getStatusIcon(row) {
  if (row.type === 'verified_committee') {
    return 'verified_user'
  } else if (row.type === 'filer_request') {
    return 'check'
  }
}

function getIconColor(row) {
  if (row.type === 'verified_committee') {
    return 'primary'
  }
  return 'secondary'
}

async function onSubmit() {
  new_agreement_dialog.value = false
  await router.push({name: 'edit-registration', params: {section: null}})
}

</script>

<template>
<div>
  <h2>Out-of-state committees I file for</h2>
  <div class="q-mb-sm full-width">
    <q-table
      flat
      bordered
      :rows="committees"
      :grid="$q.screen.lt.sm"
      :columns="tableProperties.columns"
      :pagination="tableProperties.pagination"
    >
      <template v-slot:body-cell-name="props">
        <q-td :props="props">
          <span  v-if="props.row.type === 'filer_request'">{{ props.row.name }}</span>
          <router-link v-else :to="getLink(props.row)">
            {{ props.row.name }}
          </router-link>
        </q-td>
      </template>
      <template v-slot:body-cell-status="props">
        <q-td :props="props">
          <q-icon
            size="sm"
            :name="getStatusIcon(props.row)"
            :color="getIconColor(props.row)"
          /> {{ props.row.status }}
        </q-td>
      </template>
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <div v-if="props.row.type === 'verified_committee'">
            <q-btn color="primary" class="q-mr-sm" :to="getLink(props.row)">
              {{ getActionLabel(props.row) }}
            </q-btn>
            <p-accessible-button  :to="getReportsLink(props.row)" icon="monetization_on" button-tooltip="Reports" />
          </div>
        </q-td>
      </template>
      <template v-slot:item="props">
        <q-card flat bordered class="q-mb-sm full-width">
          <q-card-section>
            <div class="q-mb-sm">
              <router-link :to="getLink(props.row)">
                {{ props.row.name }}
              </router-link>
            </div>
            <q-icon
              size="sm"
              :name="getStatusIcon(props.row)"
              :color="getIconColor(props.row)"
            /> {{ props.row.status }}
          </q-card-section>
          <q-card-actions>
            <div>
              <q-btn color="primary" class="q-mr-sm" :to="getLink(props.row)">
                {{ getActionLabel(props.row) }}
              </q-btn>
              <p-accessible-button :to="getReportsLink(props.row)" icon="monetization_on" button-tooltip="Reports" />
            </div>
          </q-card-actions>
        </q-card>
      </template>
    </q-table>
    <q-btn class="q-mt-md" icon="add" color="primary" @click="addNewCommittee">
      Committee
    </q-btn>
  </div>
  <q-dialog
    v-model="new_agreement_dialog">
      <q-card>
        <q-card-section>
          <div class="text-h6">Eligibility to Give to Political Committees and State Office Candidates</div>
          <p>A committee must receive $25 or more each from ten Washington
          State registered voters before contributing to a Washington State political committee. Additionally, during the six months prior to making a contribution to a
            state office candidate your committee must have received contributions of $25 or more each from at least ten Washington State registered voters.</p>
            <p>Continuing from here indicates your awareness of and pledge to comply with these provisions.</p>
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Continue" @click="onSubmit" color="primary"/>
          <q-btn label="Cancel" color="secondary" @click="new_agreement_dialog = false" v-close-popup />
        </q-card-actions>
      </q-card>
  </q-dialog>
</div>
</template>
