<script setup>

import { useApplication } from '@wapdc/pdc-ui/application'
import {useC5Registration} from "src/C5Registration";
import {useRoute} from "vue-router";


const route = useRoute()
const { user } = await useApplication()

const committee_id = route.params.committee_id?.toString()
const { getCommitteeInfo } = await useC5Registration()

const { committee } = await getCommitteeInfo(committee_id)

</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <p-user-header/>
    <q-page-container v-if="user.uid" style="max-width: 1400px" class="q-pa-sm q-pa-md-lg">
      <q-page padding>
        <q-breadcrumbs>
          <q-breadcrumbs-el href="/" icon="home" />
          <q-breadcrumbs-el to="/" label="Out of State committee" />
          <q-breadcrumbs-el :to="{name: 'committee-reports', params: {committee_id: committee.committee_id}}"  :label="committee.name"/>
        </q-breadcrumbs>
        <h1>{{ committee.name }}</h1>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>
