<script setup>

import { useApplication } from '@wapdc/pdc-ui/application'
const { user } = await useApplication()

</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <p-user-header/>
    <q-page-container v-if="user.uid && user.admin" style="max-width: 1400px" class="q-pa-sm q-pa-md-lg">
      <q-page padding>
        <q-breadcrumbs>
          <q-breadcrumbs-el href="/" icon="home" />
          <q-breadcrumbs-el to="/data-entry/committees" label="Out of State committees" />
          <q-breadcrumbs-el :to="{name: 'committee-search'}"/>
        </q-breadcrumbs>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>
