<script setup>
</script>
<template>
  <q-layout view="lHh Lpr lFf" >
  <q-header elevated class="q-py-xs print-hide">
    <q-toolbar>
      <q-toolbar-title>
        Out of State committee
      </q-toolbar-title>
    </q-toolbar>
  </q-header>
  <q-page-container class="q-px-sm">
    <router-view />
  </q-page-container>
  </q-layout>
</template>
