<script setup>
  import { ref } from 'vue'
  import EssentialLink from 'components/EssentialLink.vue'
  import WhitePDCLogo from 'assets/WhitePDCLogo.vue'
  import { useApplication } from '@wapdc/pdc-ui/application'
  // import {useApplication} from 'src/Application'
  const { user } = await useApplication()

  const left_drawer_open = ref(false)

  const essential_links = ([
    {
      title: 'My PDC',
      icon: 'home',
      target: '_blank',
      href: '/',
    },
    {
      title: 'PDC web site',
      icon: 'info',
      href: 'https://pdc.wa.gov'
    },
    {
      title: 'Administration',
      icon: 'settings',
      href: '/my-pdc/staff',
      admin: true
    }
  ]).filter( l => user.admin || !l.admin)

  function toggleLeftDrawer() {
    left_drawer_open.value = ! left_drawer_open.value
  }
</script>

<template>
  <q-header elevated class="print-hide">
    <q-toolbar>
      <q-btn flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer" />

      <q-toolbar-title>
        Out-of-State Committee Reporting
      </q-toolbar-title>

      <div class="q-pr-md">{{user.user_name}} </div>
      <div><white-p-d-c-logo/></div>
    </q-toolbar>
  </q-header>

  <q-drawer class="q-pa-md" v-model="left_drawer_open" bordered>
    <q-list>
      <q-item>
        <q-item-section>
          <q-item-label>
            Navigation
          </q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-btn icon="close" flat round dense @click="left_drawer_open = !left_drawer_open">Close</q-btn>
        </q-item-section>
      </q-item>
      <q-separator />
      <EssentialLink v-for="link in essential_links" :key="link.title" v-bind="link" :title="link.title"/>
    </q-list>
  </q-drawer>
</template>
