<script setup>
  import { computed } from 'vue'
  import { useQuasar } from 'quasar'
  import { useRoute, useRouter } from 'vue-router'
  import { useFilerReport } from 'src/FilerReport'
  import rules from '@wapdc/pdc-ui/rules'

  const { filerReport, submitDraftReport, clearFilerReport } = await useFilerReport()
  const quasar = useQuasar()
  const route = useRoute()
  const router = useRouter()

  const committee_id = route.params.committee_id
  const report_id = route.params.report_id
  const officer_names = filerReport.registration.officers.map(officer => officer.name)
  const certification_text =
    'I certify that I have the authority to sign this report for the entity named and that the information contained in this report is true. I understand that Washington state law places penalties on false reports, up to and including perjury. I further certify that the committee has received a certification as required from any partnership, association, corporation, organization, or other combination of persons making the contribution reported here, attesting that the contribution was not financed in any part by a foreign national and that foreign nationals were not involved in making decisions regarding the contribution in any way.'

  // created
  filerReport.certification.statement = ''
  filerReport.certification.name = ''

  const props = defineProps({
    modelValue: null,
  })

  const emit = defineEmits(['update:modelValue'])

  const local_value = computed({
    get() {
      return props.modelValue
    },
    set(value) {
      emit('update:modelValue', value)
    },
  })

  async function submitReport() {
    filerReport.certification.text = certification_text
    const success = await submitDraftReport(committee_id, report_id)
    if (typeof success === 'number') {
      quasar.notify({
        position: "top",
        type: "positive",
        message: "Form has been submitted successfully!",
      })

      clearFilerReport()

      await router.push({ name: 'committee-reports', params: { committee_id } })
    }
  }

  async function certify() {
    await submitReport()
    local_value.value = false
  }
</script>

<template>
  <q-dialog persistent v-model="local_value">
    <q-card>
      <q-form @submit="certify">
        <q-card-section>
          <div class="text-h6 q-mb-md">Certify</div>
          <q-select
            autofocus
            label="Officer name"
            v-model="filerReport.certification.name"
            :options="officer_names"
            :rules="[rules.requireString]"
          />
          <p>By typing <strong>I certify</strong> on the line below, {{certification_text}}</p>
          <q-input
            lazy-rules
            label="Type here"
            v-model="filerReport.certification.statement"
            :rules="[rules.required, rules.validCertificationStatement]"
          />
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn
            label="Submit"
            type="submit"
            color="primary"
          />
          <q-btn color="secondary" label="Cancel" v-close-popup />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
