<script setup>
import {ref} from 'vue'
import {useC5Registration} from "src/C5Registration"

const props = defineProps({
  committee: {type: Object},
  has_loaded: {type: Boolean},
})

const local_committee = ref(props.committee)
const from_match = Boolean(local_committee.value.committee?.committee_name)
</script>
<template>
  <div v-if="Object.keys(local_committee).length === 0">Legacy committee exists but can not be formatted correctly.</div>
  <div v-if="has_loaded" class="row">
    <q-card flat>
      <q-card-section>
        <div v-if="local_committee.committee?.name" class="text-h5 q-mb-lg">{{ local_committee.committee?.name }}</div>
        <div v-if="from_match" class="text-h5 q-mb-lg">{{ local_committee.committee?.committee_name }}</div>
        <div>{{ local_committee.committee?.email }}</div>
        <div>{{ local_committee.committee?.address }}</div>
        <div>{{ local_committee.committee?.city }}</div>
        <div v-if="local_committee.committee?.state">{{ local_committee.committee?.state }},
          <span>{{ local_committee.committee?.postcode }}</span>
        </div>
      </q-card-section>
    </q-card>
  </div>
  <div v-if="has_loaded">
    <q-card v-if="local_committee.officers">
      <q-card-section>
        <div class="text-h5 q-my-sm-none q-x-none-none">Officers</div>
        <div class="row" v-if="local_committee.officers.length > 0">
          <q-card
            flat
            class="q-my-sm"
            style="width: 275px; max-width:275px"
            v-for="(row, index) in local_committee.officers"
            :key="index"
          >
            <q-card-section v-if="row.title || row.name || row.address || row.city">
              <div>{{ row.title ?? 'No title found' }}</div>
              <div>{{ row.name ?? 'No name found' }}</div>
              <div>{{ row.address ?? 'No address found' }}</div>
              <div>{{ row.city ?? 'No city found'}}</div>
              <div>
                {{ row.state ?? local_committee.committee?.state ?? 'No state found' }},
                {{ row.postcode ?? local_committee.committee?.postcode ?? 'No postcode found'}}
              </div>
            </q-card-section>
          </q-card>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-my-sm" v-if="local_committee.committee_purpose || local_committee.reporting_states">
      <q-card-section>
        <div class="text-h5 q-mb-lg">Committee details and purpose</div>
        <span>
          The stated purpose of this out-of-state committee: {{local_committee.committee_purpose}}
        </span>
        <div class="q-mt-sm" v-if="! from_match">
          <span>States outside of Washington this committee is registered and has been actively reporting campaign finance information for the preceding two years:</span>
        </div>
        <div class="row">
          <q-card flat class="q-my-sm" style="width: 275px; max-width:275px"
            v-for="(row, index) in local_committee?.reporting_states" :key="index">
            <q-card-section>
              <div>{{ row.state }}</div>
              <div>{{ row.agency }}</div>
              <div><a :href="`https://${row.web_url}`">{{ row.web_url }}</a></div>
            </q-card-section>
          </q-card>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>
