<template>
  <q-item
    clickable
    :tag="_type"
    :target="_target"
    :href="_href"
    :to="_to"
  >
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  title: {
    type: String,
    required: true
  },
  caption: {
    type: String,
    default: ''
  },
  href: {
    type: String,
    default: ''
  },
  icon: {
    type: String,
    default: ''
  },
  to: {
    type: String,
    default: ''
  }
})

const _type = computed(() => (props.to ? 'router-link' : 'a'))
const _target = computed(() => (props.to ? undefined : '_self'))
const _href = computed(() => (props.to ? undefined : props.href))
const _to = computed(() => (props.to ? props.to : undefined))
</script>
