<script setup>
import { ref, watch } from 'vue'

// Setting up support for v-models
const emit = defineEmits(['update:modelValue'])
const props = defineProps({
  modelValue: String,
  offices: Array,
  rules: Array
})
const workingOfficeCode = ref(props.modelValue)
const options = ref(props.offices)

watch(
  () => props.modelValue, () => {
    workingOfficeCode.value = props.modelValue
  }
)

function filterFn(val, update) {
  update(() => {
    let needle = val.toLowerCase()
    options.value = props.offices.filter(v => v.offtitle.toLowerCase().indexOf(needle) > -1)
  })
}

async function onOfficeSelected(officeCodeValue) {
  emit('update:modelValue', officeCodeValue)
}
</script>
<template>
  <q-select
    v-model="workingOfficeCode"
    use-input
    hide-selected
    label="Office"
    fill-input
    input-debounce="100"
    option-label="offtitle"
    option-value="offcode"
    :options="options"
    @filter="filterFn"
    map-options
    emit-value
    @update:model-value="value => onOfficeSelected(value)"
    :rules="rules"
  />
</template>
