<script setup>

import { ref, defineEmits, watch } from 'vue'

// Setting up support for v-models
const emit = defineEmits(['update:modelValue'])
const props = defineProps({
  modelValue: Number,
  parties: Array,
  rules: Array,
})
const workingPartyId = ref(props.modelValue);
const options = ref(props.parties)

watch(
  () => props.modelValue, () => {
    workingPartyId.value = props.modelValue
  }
)

async function onPartySelected(partyIdValue) {
  emit('update:modelValue', partyIdValue)
}

function filterFn(val, update) {
  update(() => {
    let needle = val.toLowerCase()
    options.value = props.parties.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
  })
}
</script>

<template>
  <q-select
    v-model="workingPartyId"
    label="Party"
    use-input
    hide-selected
    fill-input
    input-debounce="100"
    option-label="name"
    option-value="party_id"
    :options="options"
    @filter="filterFn"
    map-options
    emit-value
    @update:model-value="value => onPartySelected(value)"
    :rules="rules"
  />
</template>
