<script setup>
import {ref} from "vue";
import {useOutOfStateCommittee} from "src/OutOfStateCommittee";
import {useRoute, useRouter} from 'vue-router'
import moment from "moment"

const router = useRouter()
const route = useRoute()
const committee_id = route.params.committee_id

let officers
const {loadCommitteeInfo, deleteCommitteeReport} = await useOutOfStateCommittee()
const committee = await loadCommitteeInfo(committee_id)
const reports = committee.reports
officers = committee.committee_contacts
officers = officers.filter(x => x.role === "officer")

const confirm_deletion_dialog = ref(false)
const temp_delete_report_id = ref(null)

const tableProperties = {
  pagination: {rowsPerPage: 10, sortBy: 'submitted_at', descending: true},
  reportColumns: [
    {name: 'report_id', label: 'Report number', field: 'report_id', align: 'left', sortable: true},
    {name: 'submitted_at', label: 'Date filed', field: 'submitted_at', align: 'left', sortable: true},
    {name: 'filing_method', label: 'Filing Method', field: 'filing_method', align: 'left', sortable: true},
    {name: 'election_year', label: 'Election year', field: 'election_year', align: 'left', sortable: true},
    {name: 'treasurer_name', label: 'Treasurer', field: 'treasurer_name', align: 'left', sortable: true},
    {name: 'actions', label: 'Actions', align: 'left', sortable: true},
  ]
}

function confirmDelete(report_id) {
  temp_delete_report_id.value = report_id
  confirm_deletion_dialog.value = true
}

function editReport(report_id) {
  router.push({
    name: 'edit-committee-report', params: {committee_id: committee.committee_id, report_id}
  })
}

async function deleteReport(report_id) {
  const success = await deleteCommitteeReport(report_id, committee_id)
  if (success) {
    if (reports.value && reports.value.length === 1) {
      await router.push({name: "committee-search"})
    } else {
      location.reload()
    }
  }
}

function cancelDelete() {
  confirm_deletion_dialog.value = false
}

function goToLogsPage() {
  return router.push({ name: 'committee-logs', params: { committee_id: committee.committee_id } })
}
</script>

<template>
  <div>
    <h1>{{ committee.name }}</h1>

    <div class="d-print-none row justify-between q-col q-gutter-x-sm">

      <div class="col-4-sm">

        <span class="text-h3">Committee information</span>
      </div>

      <div class="col-4-ma-none">
        <q-btn

          icon="add"
          color="primary"
          :to="{name: 'new-report'}"
        > New report
        </q-btn>
        <q-btn
          class="q-ml-md"
          icon="list"
          color="secondary"
          @click="goToLogsPage"
        > Logs
        </q-btn>
      </div>
    </div>

    <div class="q-mt-md" v-if="committee.address">{{ committee.address }}</div>
    <span v-if="committee.city">{{ committee.city }}</span>
    <span v-if="committee.state">, {{ committee.state }} </span>
    <span v-if="committee.postcode" class="q-pl-xs"> {{ committee.postcode }}</span>

    <div class="q-mt-md" />

    <div v-if="officers.length > 0">
      <h3 class="q-mb-none">Officers </h3>
      <div class="row q-col-gutter-sm q-my-sm">
        <div class="col-xs-12 col-sm-3 col-md-3" v-for="(officer, index) in officers" :key="index">
          <q-card class="q-mb-lg">
            <q-card-section>
              <div class="row justify-between full-height">
                <div v-if="officer">
                  <span v-if="officer.title">({{ officer.title }})</span><br/>
                  {{ officer.name }} <br/>
                  <span v-if="officer.address">{{ officer.address }}</span><br/>
                  <div>
                    <span v-if="officer.city">{{ officer.city }}</span>
                    <span v-if="officer.state">, {{ officer.state }}</span>
                    <span v-if="officer.postcode" class="q-pl-xs"> {{ officer.postcode }}</span>
                  </div>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
    <h3 style="display: inline-block">Reports </h3>

    <div  class="q-mb-sm full-width">
      <q-table
        flat
        :rows="reports"
        :grid="$q.screen.lt.sm"
        separator="cell"
        bordered
        :columns="tableProperties.reportColumns"
        :pagination="tableProperties.pagination"
      >
        <template v-slot:body-cell-report_id="props">
          <q-td :props="props">
            <div v-if="!props.row.user_data"><a :href=props.row.report_url target="blank">{{props.row.report_id}}</a></div>
            <div v-else>
              <router-link
                :to="{ name: 'view-report', params: { committee_id: committee.committee_id, report_id: props.row.report_id } }">{{props.row.report_id}}
              </router-link>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-filing_method="props">
          <q-td :props="props">
            <span v-if="props.row.filing_method === 'P'"> Paper </span>
            <span v-else> Online </span>
          </q-td>
        </template>
        <template v-slot:body-cell-treasurer_name="props">
          <q-td :props="props">
            <span v-if="props.row.treasurer_name">{{ props.row.treasurer_name }}</span>
          </q-td>
        </template>
        <template v-slot:body-cell-submitted_at="props">
          <q-td :props="props">
            {{ new moment(props.row.submitted_at).format('MM/DD/YYYY h:mm A') }}
          </q-td>
        </template>
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <p-accessible-button  v-if="props.row.ax_legacy_docid && !props.row.user_data" @click="editReport(props.row.report_id)" flat button-tooltip="Edit" icon="edit" />
            <p-accessible-button  v-if="props.row.ax_legacy_docid && !props.row.user_data" flat @click="confirmDelete(props.row.report_id)" button-tooltip="Delete" icon="delete"/>
          </q-td>
        </template>
        <template v-slot:item="{row}">
          <q-card flat bordered class="q-mb-sm full-width">
            <q-card-section>
              <div>
                <div v-if="!row.user_data"><a :href=row.report_url target="blank">{{row.report_id}}</a></div>
                <div v-else>
                  <router-link
                    :to="{ name: 'view-report', params: { committee_id: committee.committee_id, report_id: row.report_id } }">{{row.report_id}}
                  </router-link>
                </div>
                <div v-if="row.treasurer_name">Submitted by: {{ row.treasurer_name }}</div>
                <div>Filed: {{ new moment(row.submitted_at).format('MM/DD/YYYY h:mm A') }}</div>
                <div v-if="row.election_year"> Election year: {{ row.election_year }}</div>
                <div v-if="row.ax_legacy_docid"> Election year: Some legacy image</div>
              </div>
            </q-card-section>
            <q-card-actions>
              <p-accessible-button @click="editReport(row.report_id)" button-tooltip="Edit" icon="edit"/>
              <p-accessible-button @click="deleteReport(row.report_id)" button-tooltip="Delete"
                icon="delete"/>
            </q-card-actions>
          </q-card>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="confirm_deletion_dialog" persistent>
      <q-card style="width: 700px; max-width: 95vw">
        <q-card-section>
          <div class="text-h6">Delete Report</div>
          <p>You are about to delete report #{{ temp_delete_report_id }} along with all its associated transactions. This can not be
            undone.</p>
          <p>Are you sure you want to continue?</p>
        </q-card-section>
        <q-card-section>
          <q-btn color="secondary" label="yes" @click="deleteReport(temp_delete_report_id)"/>
          <q-btn class="q-ml-sm" color="primary" label="No" @click="cancelDelete"/>

        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<style scoped>
  .inline {
    display:inline;
  }
</style>
