<script setup>
  import { ref } from 'vue'
  import { formatDate } from "@wapdc/pdc-ui/util";
  import { useRoute } from 'vue-router'
  import { useOutOfStateCommittee } from "src/OutOfStateCommittee"

  const { loadCommitteeInfo, awsGateway } = await useOutOfStateCommittee()

  const route = useRoute()
  const committee_id = route.params.committee_id
  const committee = await loadCommitteeInfo(committee_id)

  const columns = [
    {label: 'Transaction type', name: 'transaction_type', field: 'transaction_type', align: 'left', sortable: true},
    {label: 'Action', name: 'action', field: 'action', align: 'left', sortable: true},
    {label: 'Message', name: 'message', field: 'message', align: 'left', sortable: true},
    {label: 'User', name: 'user_name', field: 'user_name', align: 'left', sortable: true},
    {label: 'Tx id', name: 'transaction_id', field: 'transaction_id', align: 'left', sortable: true},
    {label: 'Updated at', name: 'updated_at', field: 'updated_at', align: 'left', sortable: true},
  ]

  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1)
  }

  function goBack() {
    window.history.back()
  }

  // created
  let committee_logs = ref([])
  committee_logs.value = await awsGateway.get(`admin/committees/${committee_id}/logs`)
  committee_logs.value = committee_logs.value.map(committee_log => {
    return {
      ...committee_log,
      transaction_type: capitalizeFirstLetter(committee_log.transaction_type ?? ''),
      updated_at: formatDate(committee_log.updated_at),
    }
  })

</script>

<template>

  <h1>{{ committee.name }}</h1>
  <div class="d-print-none row justify-between q-col q-gutter-x-sm">
    <div  class="col-4-sm">
      <p-accessible-button
        icon = "arrow_back"
        outline
        round
        @click="goBack()"
        flat
        button-tooltip="Back"
      >
      </p-accessible-button>
      <span class="text-h3">Activity</span>
    </div>

  </div>
  <q-table
    :grid="$q.screen.lt.sm"
    :rows="committee_logs"
    :columns="columns"
    flat
    separator="cell"
    bordered
  >
    <template v-slot:body-cell-transaction_type="props">
      <q-td :props="props">
        {{ props.row.transaction_type }}
      </q-td>
    </template>
    <template v-slot:body-cell-action="props">
      <q-td :props="props">
        {{ props.row.action }}
      </q-td>
    </template>
    <template v-slot:body-cell-message="props">
      <q-td :props="props">
        {{ props.row.message }}
      </q-td>
    </template>
    <template v-slot:body-cell-user_name="props">
      <q-td :props="props">
        {{ props.row.user_name }}
      </q-td>
    </template>
    <template v-slot:body-cell-transaction_id="props">
      <q-td :props="props">
        {{ props.row.transaction_id }}
      </q-td>
    </template>
    <template v-slot:body-cell-updated_at="props">
      <q-td :props="props">
        {{ props.row.updated_at }}
      </q-td>
    </template>
  </q-table>
</template>
