<script setup>
import { reactive, ref } from "vue"
import { useOutOfStateCommittee } from "src/OutOfStateCommittee"

//get the out-of-state list
const outOfStateCommittees = ref([])
const {
  awsGateway,
  getOutOfStateCommittees } = await useOutOfStateCommittee()

outOfStateCommittees.value = await getOutOfStateCommittees()
const committee = reactive({
  name: '',
  email: '',
  address: '',
  city: '',
  state: '',
  postcode: '',
  phone: '',
  election_code: ''
})

const pagination = ref({
  page: 1,
  rowsPerPage: 10
})

</script>

<template>
  <div>
    <h2>
      Out-of-state committee search
    </h2>
    <p>Begin typing the committee name to search a list of existing registered C5 committees.
    </p>
    <p-search-rows v-if="outOfStateCommittees"
                :rows="outOfStateCommittees"
                :searchKeys="['name', 'filer_id']"
                class="q-pb-md">
      <template v-slot:results="{results}">

        <q-table
          ref="qTable"
          :rows="results"
          :columns="[
            { name: 'name', align: 'left', label: 'Committee name', field: row => row.name },
            { name: 'filer_id', align: 'left', label: 'Filer Id', field: row => row.filer_id }
          ]"
          row-key="committee_id"
          :rows-per-page-options="[5, 10, 20, 50]"
          v-model:pagination="pagination"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="name" :props="props">
                <router-link :to="{name: 'committee-overview', params: {committee_id: props.row.committee_id}}">{{ props.row.name }}</router-link>
              </q-td>
              <q-td key="filer_id" :props="props">
                {{ props.row.filer_id }}
              </q-td>
              <q-td key="election_code" :props="props">
                {{ props.row.election_code }}
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </template>
    </p-search-rows>
    <q-btn class="q-mt-md" :to="{name: 'new-committee-report'}" icon="add" color="primary">New committee</q-btn>
  </div>
</template>
