<script setup>
import { onMounted, ref } from 'vue'
import { useC5Report, submitReport } from 'src/C5Report'
import OfficeSelect from "src/components/OfficeSelect.vue"
import PartySelect from "src/components/PartySelect.vue"
import rules from "@wapdc/pdc-ui/rules"
import { useRouter, useRoute } from 'vue-router'
import { scroll } from 'quasar'


const {
  awsGateway,
  c5Report,
  clearC5,
  loadReport,
  getLatestCommitteeReportInfo
} = await useC5Report()

const route = useRoute()
const { committee_id, report_id } = route.params

const { getScrollTarget, setVerticalScrollPosition } = scroll

const officeTypes = ref([])
const partyTypes = ref([])

const has_mounted = ref(false)
const router = useRouter()
const cancel_dialog_is_open = ref(false)

const local_rules = ref({
  validAmount: value => {
    // determine the maximum possible number for a numeric(16,2)
    const maxNumber = 99999999999999.99;

    // when v is not a valid decimal number
    if (isNaN(value)) return 'Invalid number'

    // convert the number to a float
    const floatNum = parseFloat(value)

    if (floatNum > maxNumber) return 'Invalid amount'
    if (floatNum.toString().split(".")[1]?.length > 2) return 'Dollar amounts cannot contain fractional cents'
  },
})

// created
clearC5()

await getOffices()

//for editing an existing report
if(committee_id && report_id) {
  await loadReport(committee_id, report_id)
}

//for creating new report for existing committee
if(committee_id && !report_id) {
  await getLatestCommitteeReportInfo(committee_id)
}

onMounted(() => {
  has_mounted.value = true
})

async function getOffices() {
  const {request_office_types, success} = await awsGateway.get('offices')
  if (success) {
    officeTypes.value = request_office_types
    await getParties()
  }
}

async function getParties() {
  const {request_party_types, success} = await awsGateway.get('parties')
  if (success) {
    partyTypes.value = request_party_types
  }
}

function cancel() {
  router.back()
}

async function submitC5Report() {
  await submitReport(committee_id, report_id)
  clearC5()
  await router.push({name: 'committee-search', params: {}})
}

</script>

<template>
  <div style="max-width: 1024px">
    <h2>Out-of-state political committee campaign finance report (C5)</h2>
    <q-form
      greedy
      @submit="submitC5Report"
      @validation-error="(ref) => setVerticalScrollPosition(getScrollTarget(ref.$el), ref.$el.offsetTop, 100)"
    >
      <!-- Legacy DocId and PDC submitted_date -->
      <div class='row q-col-gutter-md'>
        <div class="col-12 col-sm-4">
          <q-input v-model="c5Report.ax_legacy_docid" :rules="[rules.requireString]" autofocus label="AX DocId" />
        </div>
        <div class="col-12 col-sm-3">
          <p-date-picker
            label="Date"
            v-model="c5Report.submitted_at"
            :required="true"
          />
        </div>
        <div class="col-12 col-sm-4">
          <q-input
            label="Election year"
            inputmode="numeric"
            mask="####"
            v-model="c5Report.election_year"
            :rules="[rules.reasonableReportingYear]"
          />
        </div>
      </div>
      <!-- Box 1: Committee information -->
      <div>
        <h5 class="inline-block q-mb-none">
          Name and full address of committee making the contribution
        </h5>
        (Box 1 of legacy form)
      </div>
      <div class='row q-col-gutter-md'>
        <div class="col-12 col-sm-5">
          <q-input v-model="c5Report.committee.name" :rules="[rules.requireString]" label="Name" />
        </div>
        <div class="col-12 col-sm-6">
          <q-input v-model="c5Report.committee.email" label="Email" type="email" />
        </div>
      </div>
      <div class='row q-col-gutter-md'>
        <div class="col-12 col-sm-5">
          <q-input v-model="c5Report.committee.address" :rules="[rules.requireString]" label="Address" />
        </div>
        <div class="col-12 col-sm-2">
          <q-input v-model="c5Report.committee.city" :rules="[rules.requireString]" label="City" />
        </div>
        <div class="col-12 col-sm-2">
          <q-input v-model="c5Report.committee.state" :rules="[rules.requireString, rules.validState]" label="State" />
        </div>
        <div class="col-12 col-sm-2">
          <q-input v-model="c5Report.committee.postcode" :rules="[rules.requireString]" label="Postcode" />
        </div>
      </div>

      <!-- Box 3: Committee purpose -->
      <div>
        <h5 class="inline-block q-mb-none">
          Provide the purpose of the committee and the identity of any business, union, association or person with
          which
          the committee is affiliated (e.g., a State Committee of the Oregon Republican Party, Idaho committee of
          United Workers Union or federal PAC of XYZ Trade Assn.)
        </h5>
        (Box 3 of legacy form)
      </div>
      <div class='row q-col-gutter-md'>
        <div class="col-12 col-sm-11">
          <q-input v-model="c5Report.admin_data.committee_purpose" :rules="[rules.requireString]" label="Purpose" />
        </div>
      </div>

      <!-- Box 4: Committee officers -->
      <div>
        <h5 class="inline-block q-mb-none">Officers or responsible leaders of committee:</h5>
        (Box 4 of legacy form)
      </div>
      <p-edit-rows add_label="Officer" :rows="c5Report.admin_data.officers"
                 :row_default="{title: null, name: null, address: null, city: null, state: null, postcode: null, role: 'officer', committee_id: null}"
                 :required_at_least_one_row="true"
      >
        <template v-slot="{ row }">
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.name" :rules="[rules.requireString]" :autofocus="has_mounted" label="Name" />
            </div>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.title" :rules="[rules.requireString]" label="Title" />
            </div>
          </div>
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.address" :rules="[rules.requireString]" label="Address" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.city" :rules="[rules.requireString]" label="City" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.state" :rules="[rules.requireString, rules.validState]" label="State" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.postcode" :rules="[rules.requireString]" label="Postcode" />
            </div>
          </div>
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.email" label="Email" type="email" />
            </div>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.phone" label="Phone" type="tel" />
            </div>
          </div>
        </template>
      </p-edit-rows>

      <!-- Box 5: Committee states registered -->
      <div>
        <h5 class="inline-block q-mb-none">
          States where this political committee is registered and has been actively reporting campaign finance
          information for the preceding two years:
        </h5>
        (Box 5 of legacy form)
      </div>
      <p-edit-rows add_label="State" :rows="c5Report.admin_data.reporting_states"
                 :row_default="{state: null, agency: null, web_url: null}"
                 :required_at_least_one_row="true"
      >
        <template v-slot="{ row }">
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-2">
              <q-input
                label="State or &quot;Federal&quot;"
                v-model="row.state"
                :rules="[rules.requireString]"
                :autofocus="has_mounted"
              />
            </div>
            <div class="col-12 col-sm-4">
              <q-input v-model="row.agency" label="Agency" />
            </div>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.web_url" label="Web address" />
            </div>
          </div>
        </template>
      </p-edit-rows>

      <!-- Box 6: Candidate contributions -->
      <div>
        <h5 class="inline-block q-mb-none">
          Candidate contributions: List each Washington candidate for state, local or judicial to whom you have
          made a contribution of more than $50.00.
        </h5>
        (Box 6 of legacy form)
      </div>
      <p-edit-rows add_label="Candidate Contribution" :rows="c5Report.expenses.candidate"
                 :row_default="{type: 'CA', name: null, office: null, party: null, expense_date: null, amount: null}"
      >
        <!-- office and party optional for now, replace with working fields when dropdowns have been made -->
        <template v-slot="{ row }">
          <q-input v-model="row.name" :rules="[rules.requireString]" :autofocus="has_mounted" label="Name" />
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <office-select
                label="Office"
                v-model="row.office"
                :offices = "officeTypes"
                :rules="[rules.requireString]"
              />
            </div>
            <div class="col-12 col-sm-6">
              <party-select
                label="Party"
                v-model="row.party"
                :parties = "partyTypes"
              />
            </div>
          </div>
          <div class="row q-col-gutter-md">
            <div class="col-12 col-sm-6">
              <p-date-picker
                label="Date"
                v-model="row.expense_date"
                :required="true"
              />
            </div>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.amount" :rules="[rules.requireString, local_rules.validAmount]" label="Amount" />
            </div>
          </div>
        </template>
      </p-edit-rows>

      <!-- Box 7: Ballot measure contributions -->
      <div class="q-mb-sm">
        <h5 class="inline-block q-mb-none">
          Ballot measure committee contributions: List each Washington committee supporting or opposing a ballot
          measure to whom you have made a contribution of more than $50.00.
        </h5>
        (Box 7 of legacy form)
      </div>
      <p-edit-rows add_label="Ballot Measure Contribution" :rows="c5Report.expenses.ballot"
                 :row_default="{type: 'PROP', name: null, address: null, city: null, state: null, postcode: null, ballot_number: null, for_or_against: null, expense_date: null, amount: null}"
      >
        <template v-slot="{ row }">
          <div class='row q-col-gutter-md'>
            <q-input
              class="col-12 col-sm-6"
              label="Committee name"
              v-model="row.name"
              :rules="[rules.requireString]"
              :autofocus="has_mounted"
            />
            <div class="col-12 col-sm-3">
              <p-date-picker
                label="Date"
                v-model="row.expense_date"
                :required="true"
              />
            </div>
            <div class="col-12 col-sm-3">
              <q-input v-model="row.amount" :rules="[rules.requireString, local_rules.validAmount]" label="Amount" />
            </div>
          </div>
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.address" label="Address" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.city" label="City" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.state" :rules="[rules.validState]" label="State" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.postcode" label="Postcode" />
            </div>
          </div>
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.ballot_number" label="Ballot number" />
            </div>
            <div class="col-12 col-sm-6">
              <q-field hide-bottom-space borderless class="row q-pb-none" v-model="row.for_or_against">
                <q-option-group
                  inline
                  type="radio"
                  :options="[{ label: 'For', value: 'F' }, { label: 'Against', value: 'A' }]"
                  v-model="row.for_or_against"
                />
              </q-field>
            </div>
         </div>
        </template>
      </p-edit-rows>

      <!-- Box 8: Other contributions and expenditures -->
      <div>
        <h5 class="inline-block q-mb-none">
          Other contributions and expenditures: List each other contribution or expenditure of more than $50.00 made
          to or on behalf of any Washington state, local or judicial candidate, ballot measure or political committee.
        </h5>
        (Box 8 of legacy form)
      </div>
      <p-edit-rows add_label="Other Contribution" :rows="c5Report.expenses.other"
                 :row_default="{type: 'OTH', name: null, address: null, city: null, state: null, postcode: null, purpose: null, expense_date: null, amount: null}"
      >
        <template v-slot="{ row }">
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.name" :rules="[rules.requireString]" :autofocus="has_mounted" label="Recipient Name" />
            </div>
            <div class="col-12 col-sm-3">
              <p-date-picker
                label="Date"
                v-model="row.expense_date"
                :required="true"
              />
            </div>
            <div class="col-12 col-sm-3">
              <q-input v-model="row.amount" :rules="[rules.requireString, local_rules.validAmount]" label="Amount" />
            </div>
          </div>
          <div class='row q-col-gutter-md'>
            <div class="col-12 col-sm-6">
              <q-input v-model="row.address" label="Address" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.city" label="City" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.state" :rules="[rules.validState]" label="State" />
            </div>
            <div class="col-12 col-sm-2">
              <q-input v-model="row.postcode" label="Postcode" />
            </div>
          </div>
          <q-input v-model="row.purpose" label="Purpose" />
        </template>
      </p-edit-rows>

      <!-- Box 9: Total contributions -->
      <div>
        <h5 class="inline-block q-mb-none">
          Total contributions and expenditures (Add parts 6,7,8)
        </h5>
        (Box 9 of legacy form)
      </div>
      <div class='row q-col-gutter-md'>
        <div class="col-12 col-sm-11">
          <q-input
            label="Total contributions"
            v-model="c5Report.metadata.total_contributions_and_expenditures"
            type="number"
          />
        </div>
      </div>
      <!-- Box 14: Submitting official -->
      <div>
        <h5 class="inline-block q-mb-none">
          Name of submitting official
        </h5>
        (Box 14 of legacy form)
      </div>
      <div class='row q-col-gutter-md'>
        <div class="col-12 col-sm-11">
          <q-input
            label="Name of submitting official"
            v-model="c5Report.treasurer_name"
            :rules="[rules.requireString]"
          />
        </div>
      </div>
      <q-btn label="Submit" icon="check" type="submit" color="primary" class="q-mt-lg q-mr-sm"/>
      <q-btn label="Cancel" color="secondary" class="q-mt-lg" @click="() => cancel_dialog_is_open = true"/>
    </q-form>
    <q-dialog v-model="cancel_dialog_is_open">
      <q-card>
        <q-card-section>
          <div class="text-h6">Are you sure you want to cancel?</div>
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Yes" color="secondary" @click="cancel" v-close-popup />
          <q-btn label="No" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
