<script setup>
import { useC5Verification } from 'src/C5Verification'
import { computed, ref } from 'vue'
import {useApplication} from "@wapdc/pdc-ui/application"
import {formatDate, today} from "src/utils";
import moment from "moment/moment";

const { loadUnverifiedCommittees } = await useC5Verification()

const {user} = await useApplication()



const accessRequests = ref([])
accessRequests.value = await loadUnverifiedCommittees()

const showAll = ref(false)

const tableProperties = {
  pagination: {
    rowsPerPage: 25,
    sortBy: 'submitted_at',
    descending: false
  },
  columns: [
    {name: 'id', label: 'Submission', field: row => row.id, align: 'left', sortable: true, sort: (a, b) => a < b},
    {name: 'name', label: 'Name', field: row => row.payload.committee.name, align: 'left', sortable: true},
    {name: 'submitted_at', label: 'Submitted date', field: row => row.submitted_at, align: 'left', sortable: true},
    {name: 'agent_user_name', label: 'Agent', field: row => row.agent_user_name, align: 'left', sortable: true},
    {
      name: 'action_date',
      label: 'Action date',
      field: row => formatDate(row.action_date),
      align: 'left',
      sortable: true
    },
    {name: 'actions', label: 'Actions', align: 'left'}
  ]
}

const filteredAccessRequests = computed(() => {
  if (!showAll.value) {
    return accessRequests.value.filter((accessRequest) => {
      return (accessRequest.agent_user_name === user.user.user_name || accessRequest.agent_user_name === null)
        && (accessRequest.action_date <= today() || accessRequest.action_date === null )
    })
  } else {
    return accessRequests.value
  }
})

const agentOptions = [{ label: 'unassigned', value: null }, { label: user.user.user_name, value: user.user.user_name }]


async function updateAccessRequest(request_id, agent, action_date) {
  await (await useC5Verification()).updateAccessRequest(request_id, agent, action_date)
}

async function onSnooze(request_id, agent, snooze_days){
  let date = new Date()

  if(snooze_days) {
    date.setDate(date.getDate() + snooze_days)
  } else {
    date.setDate(date.getDate())
  }

  const actionDate = moment(date).format('YYYY-MM-DD')

  accessRequests.value = accessRequests.value.map(x => (x.id === request_id) ? {...x, action_date: actionDate}: x)


  await updateAccessRequest(request_id, agent, actionDate)
}
</script>

<template>
  <h2>Verification</h2>
  <q-card>
  <q-card-section>
    <q-toggle
      v-model="showAll"
      checked-icon="check"
      label="Show all access requests"
    />
    <q-table
      :rows="filteredAccessRequests"
      :columns="tableProperties.columns"
      :grid="$q.screen.lt.sm"
      :pagination="tableProperties.pagination"
      row-key="id"
      style="width: 100%"
      wrap-cells
      flat
    >
      <template v-slot:body-cell-id="props">
        <q-td :props="props">
          <router-link :to="{ name: 'verify-committee', params: { request_id: props.row.id }}">
            {{ props.row.id }}
          </router-link>
        </q-td>
      </template>
    <template  v-slot:body-cell-submitted_at="props">
      <q-td :props="props">
      {{ formatDate(props.row.submitted_at)}}
      </q-td>
    </template>
      <template v-slot:body-cell-actions="props">
        <q-td :props="props" style="width: 250px">
          <q-btn-dropdown icon="snooze" color="secondary" dense>
            <q-item clickable v-close-popup @click="onSnooze(props.row.id, props.row.agent_user_name, null)">
              <q-item-section>
                <q-item-label>- -</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="onSnooze(props.row.id, props.row.agent_user_name, 2)">
              <q-item-section>
                <q-item-label>2 days</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="onSnooze(props.row.id, props.row.agent_user_name, 3)">
              <q-item-section>
                <q-item-label>3 days</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="onSnooze(props.row.id, props.row.agent_user_name, 5)">
              <q-item-section>
                <q-item-label>5 days</q-item-label>
              </q-item-section>
            </q-item>
          </q-btn-dropdown>
        </q-td>
      </template>
      <template v-slot:body-cell-agent_user_name="props">
        <q-td :props="props" style="width: 250px">
          <q-select behavior="menu" v-model=props.row.agent_user_name @update:model-value="updateAccessRequest(props.row.id, props.row.agent_user_name, props.row.action_date)" :options="agentOptions" map-options emit-value></q-select>
        </q-td>
      </template>
    </q-table>
  </q-card-section>
</q-card>
</template>
