<script setup>
import { ref, watch } from 'vue'
import CommitteeView from 'components/CommitteeView.vue'
import { useRoute, useRouter } from 'vue-router'
import { useC5Verification } from 'src/C5Verification'
import { useC5Registration } from 'src/C5Registration'
const { getMatchCommittees, revertRequest, verifyNonMatch, verifyMatch } = await useC5Verification()
const { getFilerRequestRegistrationData } = await useC5Registration()

const revert_dialog_is_open = ref(false)
const non_match_dialog_is_open = ref(false)
const match_dialog_is_open = ref(false)
const committee_id = ref(null)
const committees = ref([])
const target_committee = ref({})
const name_input = ref('')
const request_committee_loaded = ref(false)
const target_committees_loaded = ref(false)

const route = useRoute()
const router = useRouter()

const request_id = route.params.request_id

// created
const request_committee = await getFilerRequestRegistrationData(request_id)
request_committee_loaded.value = true

watch(name_input, async (new_name, old_name) => {
  if (new_name === '') {
    target_committee.value = {}
    committees.value = []
    return
  }
  onSearchName()
})

const similarCommitteeDialog = ref(true)
function openRevertDialog() {
  revert_dialog_is_open.value = true
}

function openNonMatchDialog() {
  non_match_dialog_is_open.value = true
}

function openMatchDialog() {
  match_dialog_is_open.value = true
}

async function onVerifyMatch() {
  const success = await verifyMatch(request_id, target_committee.value?.committee?.committee_id)
  if (success) {
    await router.replace({ name: 'unverified-committees' })
  }
}

async function onVerifyNonMatch() {
  const success = await verifyNonMatch(request_id)
  if (success) {
    await router.replace({ name: 'unverified-committees' })
  }
}

async function onRevert() {
  const success = await revertRequest(request_id)
  if (success) {
    await router.replace({ name: 'unverified-committees' })
  }
}

async function onSearchName() {
  committees.value = await getMatchCommittees(name_input.value)
  target_committee.value = {}
  target_committees_loaded.value = true
}
</script>
<template>
  <div>
    <div class="row">
      <h2>Verify Committee</h2>
    </div>
    <q-btn
      class="q-mr-md q-mb-md"
      label="Create (new)"
      color="primary"
      @click="non_match_dialog_is_open = true"
    />
    <q-btn
      class="q-mb-md"
      label="Revert"
      color="negative"
      text-color="white"
      @click="revert_dialog_is_open = true"
    />
    <div class="row">
      <div class="col">
        <q-card>
          <q-card-section>
            <committee-view :has_loaded="request_committee_loaded" :committee="request_committee" />
          </q-card-section>
        </q-card>
      </div>
      <div class="col q-ml-md">
        <q-form @submit="onSearchName" class="q-mb-md">
          <q-input type="search" v-model="name_input" label="Search committee name" debounce="1000">
            <template v-slot:after>
              <q-btn type="submit" @click="onSearchName" class="q-mt-sm" color="primary" icon="search"></q-btn>
            </template>
          </q-input>
        </q-form>
        <div v-if="committees.length === 0">Start typing to see potential matches</div>
        <q-list bordered separator class="q-mb-md" v-if="committees.length > 0 && Object.keys(target_committee).length === 0">
          <q-item clickable v-ripple v-for="(committee, index) in committees" :key="`committee-${index}`" @click="target_committee = committee">
            <q-item-section>{{committee.committee.committee_name}}</q-item-section>
          </q-item>
        </q-list>
        <q-card v-if="Object.keys(target_committee).length > 0">
          <q-card-section>
            <p-accessible-button
              class="float-right"
              round
              icon="close"
              color="secondary"
              button-tooltip="Close"
              @click="() => target_committee = {}"
            />
            <committee-view :has_loaded="request_committee_loaded" :committee="target_committee" />
            <q-btn
              class="q-mt-md"
              label="Merge (existing)"
              color="primary"
              @click="match_dialog_is_open = true"
            />
          </q-card-section>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="match_dialog_is_open" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6">Merge (existing)</div>
        </q-card-section>
        <q-card-section>
          <p>This will do the following:</p>
          <li>Merge the filer request information with the matched committee profile</li>
          <li>Give the filer access to the committee</li>
          <li>Send an email to the filer to let them know that they have been verified</li>
        </q-card-section>
        <q-card-section>
          <q-btn color="primary" label="Merge (existing)" @click="onVerifyMatch"/>
          <q-btn class="q-ml-sm" color="secondary" label="Cancel" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="non_match_dialog_is_open" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6">Create (new)</div>
        </q-card-section>
        <q-card-section>
          <p>This will do the following:</p>
          <li>Create a new out-of-state committee record with the information from the filer request</li>
          <li>Give the filer access to the committee</li>
          <li>Send an email to the filer to let them know that they have been verified</li>
        </q-card-section>
        <q-card-section>
          <q-btn color="primary" label="Create (new)" @click="onVerifyNonMatch"/>
          <q-btn class="q-ml-sm" color="secondary" label="Cancel" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="revert_dialog_is_open" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6">Revert</div>
        </q-card-section>
        <q-card-section>
          <p>Warning! This action cannot be undone.</p>
          <p>This will delete the filer's request.</p>
          <p>No email will be sent so you are responsible for reaching out to the filer to let them know that their request has been deleted.</p>
        </q-card-section>
        <q-card-section>
          <q-btn color="negative" label="Revert" @click="onRevert"/>
          <q-btn class="q-ml-sm" color="secondary" label="Cancel" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
